* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'Source Serif Pro', serif;
}

body {
  background: url("../../../../images/fond.png") center;
  background-size: cover;
  min-height: 600px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
}

main {
  margin: 1%;
}

nav {
  text-align: center;
}

.menu {
  display: inline-block;
}

.menu > li {
  float: left;
  color: #bab88c;
  width: 250px;
  height: 40px;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  font-size: 17px;
}

.menu li a {
  color: #bab88c;
  text-decoration: none;
}

.sub-menu {
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
}

.sub-menu li {
  font-size: 14px;
  background: rgba(0, 0, 0, 0.8);
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
}

.sub-menu li a {
  color: white;
  text-decoration: none;
}

.sub-menu li:last-child {
  border-bottom: 0;
}

.sub-menu li:hover {
  background: black;
}

.menu > li:hover .sub-menu li {
  transform: scale(1);
}

.menu > li:hover .sub-menu {
  transform: scale(1);
}

.logo{
  width: 12%;
  margin: auto;
  padding-top: 2%;
  display: flex;
}

h1 {
  text-align: center;
}

h3 {
  margin-top: 1%;
  margin-bottom: 1%;
  text-decoration: underline;
}

p {
  margin-top: 1%;
}

main ul {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.p1 {
  text-align: center;
  margin-bottom: 2%;
  border-style: solid;
  border-radius: 10px;
  font-size: x-large;
  margin-left: 7%;
  margin-right: 7%;
}

.communication {
  width: 40px;
}

footer {
  float: right;
}