* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'Source Serif Pro', serif;
}

body {
  background: url("../../../images/fond.png") center;
  background-size: cover;
  min-height: 600px;
  font-family: "Helvetica Neue", sans-serif;
}

main {
  margin: 1%;
}

#container
{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
 
  padding-bottom:40px;
  overflow:hidden;
}
#header
{
  width:100%;
  height:100px;
  text-align: center;
  font-size: xx-large;
  margin-top: 2%;
  font-weight: bold;
}
#outer
{
  margin:0px auto;
  width:100%;
  height:100%;
}
#inner
{
  margin:0px;
  min-width:480px;
  height:100%;
  padding:0 0 64px 0;
  text-align:center;
}
#lpane, #rpane
{
  display:inline-block;
  width:49.5%;
  height:100%;
  margin:0px;
  min-width:120px;
  overflow:hidden;
  text-align:center;
}

.logo1{
  width: 40%;
  margin-top: 10%;
  margin-bottom: 5%;
}

.logo2{
  width: 40%;
  margin-top: 6%;
  margin-bottom: 3%;
}

p{
  font-size: xx-large;
  font-weight: bold;
}