* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  background: url("../../../images/fond.png") center;
  background-size: cover;
  min-height: 600px;
  font-family: "Helvetica Neue", sans-serif;
}

nav {
  text-align: center;
}

.menu {
  display: inline-block;
}

.menu > li {
  float: left;
  color: #e298e1;
  width: 200px;
  height: 40px;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  font-size: 17px;
}

.sub-menu {
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
}

.sub-menu li {
  font-size: 14px;
  background: rgba(0, 0, 0, 0.8);
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
}

.sub-menu li a {
  color: white;
}

.sub-menu li:last-child {
  border-bottom: 0;
}

.sub-menu li:hover {
  background: black;
}

.menu > li:hover .sub-menu li {
  transform: scale(1);
}

.menu > li:hover .sub-menu {
  transform: scale(1);
}

.logo{
  width: 12%;
  margin: auto;
  display: flex;
}

h1 {
  text-align: center;
}

.cani_paddle{
  width: 30%;
  float: left;
  margin: 5%;
}

.cani_paddle_1{
  width: 30%;
  float: right;
  margin: 5%;
}

.cani_paddle_3{
  width: 30%;
  margin: auto;
  display: flex;
}

.btn{
  background:#bab88c;
}

.modal-body{
  background-color: #bab88c;
}

.communication {
  width: 40px;
}

footer {
  float: right;
}